body {
	background-color: beige; /* Hintergrundfarbe */
	margin: 0;
	height: 100vh; /* Volle Höhe des Fensters */
	display: flex; /* Aktiviert Flexbox */
	justify-content: center; /* Horizontale Zentrierung */
	align-items: center; /* Vertikale Zentrierung */
	font-family: 'Lobster', cursive; /* Schriftart Lobster */
}

h1{
	font-size:calc(1rem + 1vw *4)
}

p{
	font-size: calc(1rem + 1vw ); /* Schriftgröße passt sich dynamisch an */
	color: #800020;
}

img {
  width: 100%;
}

/* Inhalt */
.content {
	width: 90%; /* Passt sich der Breite des Viewports an */
	height: 90%; /* Passt sich der Höhe des Viewports an */
	min-height: 400px; 	
	box-sizing: border-box; /* Schließt Padding und Rahmen in den Gesamtmaßen ein */
	position: static; /* Erlaubt absolute Positionierung von Kindern */
	text-align: center; /* Text im Container zentrieren */
	padding: 20px;
	border: 3px solid #05a895;
	display: flex; /* Aktiviert Flexbox */
	justify-content: center; /* Zentriert horizontal */
	align-items: center; /* Zentriert vertikal */
	gap: 1%;
	flex-direction: column;
	overflow: auto;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

.content::-webkit-scrollbar {
  display: none;
} 	

/*Startseite*/
.top-right{
	display: flex;
	position: absolute; /* Positionierung relativ zum Eltern-Element (.content) */
	top: 0%; /* Abstand von oben */
	right: 8%; /* Abstand von rechts */
	transform: rotate(45deg);
	font-family: 'Lobster';
	flex-direction: column;
	justify-content: center; /* Zentriert horizontal */
	align-items: center; /* Zentriert vertikal */
	gap: 1px;
	max-width: 20%;  /* Container skaliert mit der Seite */
    height: auto;
}

.bottom-left{
	display: flex;
	position: absolute; /* Positionierung relativ zum Eltern-Element (.content) */
	bottom: 2%; /* Abstand von oben */
	left: 5%; /* Abstand von rechts */
	font-family: 'Lobster';
	flex-direction: column;
	justify-content: center; /* Zentriert horizontal */
	align-items: center; /* Zentriert vertikal */
	gap: 1px;
	max-width: 20%;  /* Container skaliert mit der Seite */
    height: auto;
}

.bottom-right{
	display: flex;
	position: absolute; /* Positionierung relativ zum Eltern-Element (.content) */
	bottom: 0; /* Abstand von oben */
	right: 8%; /* Abstand von rechts */
	font-family: 'Lobster';
	flex-direction: column;
	justify-content: center; /* Zentriert horizontal */
	align-items: center; /* Zentriert vertikal */
	gap: 1px;
	max-width: 20%;  /* Container skaliert mit der Seite */
    height: auto;
}

.arrow{
	width: 15%; /* Bild passt sich an die Breite des Containers an */
	height: auto; /* Beibehaltung der Proportionen */
	object-fit: contain; /* Sorgt für eine saubere Skalierung */
}

.arrowFlip{
	width: 15%; /* Bild passt sich an die Breite des Containers an */
	height: auto; /* Beibehaltung der Proportionen */
	transform: rotate(180deg);
	object-fit: contain; /* Sorgt für eine saubere Skalierung */
}

.karten{
	width: 120%; /* Bild passt sich an die Breite des Containers an */
	height: auto; /* Beibehaltung der Proportionen */
	object-fit: contain; /* Sorgt für eine saubere Skalierung */
}

.figuren{	
	width: 150%; /* Bild passt sich an die Breite des Containers an */
	height: auto; /* Beibehaltung der Proportionen */
	object-fit: contain; /* Sorgt für eine saubere Skalierung */
}

.beschreibung {
	font-size: calc(1rem + 1vw *0.5); /* Schriftgröße passt sich dynamisch an */
	font-family: 'Roboto';
	color: #800020;
}

/*Galerie*/
#fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s;
}

#fullscreen-overlay img {
  max-width: 90%;
  max-height: 90%;
}

#fullscreen-overlay button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: red;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
}

#fullscreen-overlay:not(.hidden) {
  visibility: visible;
  opacity: 1;
}

.gallery-image:hover {
  transform: scale(1.1); /* Vergrößerung bei Hover */
}

.gallery-image {
  cursor: pointer;
  transition: transform 0.2s;
}

.photo-grid-container {
  column-count: 5;
  column-width: 300px;
  max-height: 100%;
}
.photo-grid-item {
  margin: 0 auto 15px;
  max-width: 400px;
  width: 100%;
}

/*Spieleliste*/
#spieleliste{
	max-height: 100%;
    overflow-y: auto; /* Ermöglicht Scrollen innerhalb von #spieleliste */
    padding: 10px;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
